
<p>
<h3><%= @question.title %></h3>
</p>

<br/>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= question_url(@question) %>" data-count="horizontal" data-via="brunosan">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<br/>

<p>
  Asked <%= time_ago_in_words(@question.updated_at) %> ago.
</p>
  <% unless @feed.empty? %>
    <%=pluralize(@feed.count, "answer") %> so far:
    <table>
      <th></th>
      <th>Votes</th>
      <th>Flags</th>
      <%= render "shared/feed"  %>
    </table>
  <%else %>
    Hold tight, this question has no anwsers <strong>yet</strong>.
  <%end %>
  ...or add your answer
  <table class="question">
    <tr>
      <%= render "shared/answer_form" %>
  </tr>
</table>
