<h1>Listing answers</h1>

<%= page_entries_info @answers %><%= will_paginate %>
<table>

  <% @answers.each do |answer| %>
  <tr>
    <td><strong><%= link_to answer.question.title, answer.question%></strong>
    </br>
    <%=answer.text %> </br><%= "[#{pluralize(v=answer.votes.count,"votes")} and #{pluralize(f=answer.flags.count,"flags")}. Added #{time_ago_in_words(answer.created_at)} ago.]" %> </td>

  <td> <%= link_to 'x', answer, :confirm => 'Answer has more flags than votes. Delete?', :method => :delete if f>v%></td>
    </tr>
<% end %>
</table>

<%= will_paginate %>
<br />

