Ask <strong>short</strong> <%= link_to "questions", questions_path %>.
Get <strong>short</strong> <%= link_to "answers", answers_path %>.
<p>
<h2><%= @question.title %></h2>

<% unless @feed.empty? %>
Vote the answer you like most:  
  <table class="question" summary="Randmom question">
  <tr>
    <%= render "feed"  %>
  </tr>
  </table>
<%else %>
  This question has no anwsers no far.
<%end %>
  ... or have your saying.
<table class="question">
    <tr>
      <%= render "shared/answer_form" %>
  </tr>
</table>

