<h1>Listing offensive answers</h1>

<%= page_entries_info @flags %><%= will_paginate %>

<table>

<% @flags.each do |flag| %>
  <tr>
    <td>
    Flaged <%= time_ago_in_words(flag.created_at) %>  ago.</br>
    </td>
    <td>
      <strong>Question:</strong> <%=link_to flag.answer.question.title, flag.answer.question %> (<%= pluralize(flag.answer.question.answers.count,"answer")%> total) </br>
      <strong>Answer:</strong> <%= flag.answer.text%> ( <%= pluralize(flag.answer.votes.count,"vote")%>/ <%= pluralize(flag.answer.flags.count,"flag")%> )</br>
    </td>
  </tr>
<% end %>
</table>

<br />



