<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% a=Answer.find(params[:answer_id]) %>
  <%= a.question.title %> </br>
  <%= a.text %> </br>

  <div class="field">
    <%= f.text_field :answer_id, :value => params[:answer_id] %>
    <%= f.text_field :value, :value => 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
