<p id="notice"><%= notice %></p>

<p>
  <b>Answer:</b>
  <%= @vote.answer_id %>
</p>

<p>
  <b>Value:</b>
  <%= @vote.value %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
